// app global css in SCSS form

.bg-aleph-radial {
    background: linear-gradient(83.49deg, #71C9FA -108.79%, #0054FF 76.92%);
}

.bg-blue-f {
    background: linear-gradient(90.01deg, #8BFFDC -34.36%, #95C4FF 112.21%);
}

.bg-inactivegradient {
    background: linear-gradient(90.01deg, #8BFFDC -34.36%, #95C4FF 112.21%);
}

.text-inactivegradient {
    color: #95C4FF;
}

.q-btn {
    text-transform: none;
}