// app global css in SCSS form
/* public-sans-300 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/public-sans-v4-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
        url('fonts/public-sans-v4-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/public-sans-v4-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/public-sans-v4-latin-300.woff') format('woff'), /* Modern Browsers */
        url('fonts/public-sans-v4-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/public-sans-v4-latin-300.svg#PublicSans') format('svg'); /* Legacy iOS */
}

/* public-sans-500 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/public-sans-v4-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
        url('fonts/public-sans-v4-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/public-sans-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/public-sans-v4-latin-500.woff') format('woff'), /* Modern Browsers */
        url('fonts/public-sans-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/public-sans-v4-latin-500.svg#PublicSans') format('svg'); /* Legacy iOS */
}

/* public-sans-regular - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/public-sans-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
        url('fonts/public-sans-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/public-sans-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/public-sans-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('fonts/public-sans-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/public-sans-v4-latin-regular.svg#PublicSans') format('svg'); /* Legacy iOS */
}

/* public-sans-700 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/public-sans-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
        url('fonts/public-sans-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/public-sans-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/public-sans-v4-latin-700.woff') format('woff'), /* Modern Browsers */
        url('fonts/public-sans-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/public-sans-v4-latin-700.svg#PublicSans') format('svg'); /* Legacy iOS */
}

body {
  font-family: "Public Sans", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
.bg-aleph-radial {
    background: linear-gradient(83.49deg, #71C9FA -108.79%, #0054FF 76.92%);
}

.bg-blue-f {
    background: linear-gradient(90.01deg, #8BFFDC -34.36%, #95C4FF 112.21%);
}

.bg-inactive {
    background: #95C4FF;
}


.expander-title {
  background: #263944;
}

.bg-dark-60 {
  background: #1D2A31;
}

.bg-dark-50 {
  background: #223038;
}

.bg-dark-40 {
  background: #263944;
}

.bg-dark-30 {
  background: #565F64;
}

.bg-dark-20 {
  background: #91989C;
}

.bg-dark-10 {
  background: #C8CBCD;
}



.radius-4 {
  border-radius: 4px;
}

.text-inactive {
    color: #95C4FF;
}

.text-light-blue {
    color: #71C9FA;
}

.q-btn {
    text-transform: none;
}

strong {
  font-weight: 700;
}

#WEB3_CONNECT_MODAL_ID {
  z-index: 100;
}

.status-pill {
  display: inline-block;
  border-radius: 3px;
  width: 8px;
  height: 8px;
  vertical-align: baseline;
}

.q-item.standout {
  border-radius: $generic-border-radius;
  background: #FAFAFA;
  margin-bottom: 1em;
}

.body--dark {
  .bg-card {
    background: #2E363B;
    border-color: #383838;
  }

  .bg-expand {
    background: #263944;
  }

  .bg-card-expand {
    background: #394b57;
  }

  .q-item.standout {
    background-color: #223038;
  }
}
.bg-card {
  background: #FAFAFA;
  border-color: #FAFAFA;
}

.q-field--standout.q-field--dark .q-field__control {
  background: #223038;
}

.bg-dark50 {
  background: #223038;
}

.q-card {
  .text-h6 {
    font-size: 25px;
    font-weight: 700;
  }
}

hr.q-separator--dark {
  background-color: #91989C;
  opacity: .25;
}